* {
  font-family: 'Arial';
}

.container .item {
  border-radius: 5px;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, 100px);
  gap: 8px;
  color: white;
}

.verde-claro {
  background-color: aqua;
  /* grid-column: 1 / span 2;
  grid-row: 1 / span 2; */
  grid-area: 1 / 1 / span 2 / span 2;
}

.azul {
  background-color: blue;
  /* grid-column: 3 / span 3; */

  grid-area: 1 / 3 / span 1 / span 3;
}

.rosa {
  background-color: rgb(255, 48, 83);
  /* grid-row: 3 / span 1;
  grid-column: 1 / 3; */

  grid-area: 3 / 1 / span 1 / span 2;
}

.laranja-escuro {
  background-color: orange;
  /* grid-column: 3 / span 2;
  grid-row: 2 / span 2; */
  
  grid-area: 2 / 3 / span 2 / span 2;
}

.verde-escuro {
  background-color: green;
  /* grid-column: 5 / span 1;
  grid-row: 2 / 3; */

  grid-area: 2 / 5 / span 1 / span 1;

}

.marrom {
  background-color: brown;
  /* grid-column: 5 / 6;
  grid-row: 3 / 4; */

  grid-area: 3 / 5 / span 1 / span 1;
}

